<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
    <title>Create Blog</title>
</head>
<body>
    
    <div class="create_blog_container">
        <form action="{{ url_for('create_blog') }}" method="POST">
            <div class="blog_title">
                <label for="title" class="label_title">Blog Title:</label>
                <br>
                <input type="text" id="title" name="title" placeholder="Enter blog title" required><br><br>
            </div>
            <div class="blog_content">
                <label for="content" class="label_content">Blog Content:</label>
                <br>
                <textarea id="content" name="content" placeholder="Write your blog content here..." required></textarea><br><br>
            </div>
            <div class="form_actions">
                <button type="submit" class="publish_btn">Publish</button>
                <a href="{{url_for('Dashboard')}}" class="Cancel_btn">Cancel</a>
            </div>

        </form>
        
    </div>

    

</body>
</html>